/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 mar 2024, 13:30:18
    Author     : adolf
*/

.root{
    -fx-background-color:white;
}
.cabecera{
    -fx-background-color:#6EE0AE;
    -fx-font-size: 40;
    -fx-text-fill:white;
    -fx-padding: 0 0 0 20;  
}
.atributos{
    -fx-font-size: 12;
    -fx-text-fill:#6EE0AE;
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 0 10 0 0;
}
