/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 mar 2024, 13:30:18
    Author     : adolf
*/

.root {
    -fx-background-color: white;
}

.cabecera {
    -fx-background-color: #48AB97;
    -fx-font-size: 40;
    -fx-text-fill: white;
    -fx-padding: 0 0 0 20;  
}

.label {
    -fx-font-size: 20;
    -fx-text-fill: #6EE0AE;
    -fx-padding: 0 10 0 0;
    -fx-font-weight: bold;
}

.atributosRegistro {
    -fx-font-size: 15;
    -fx-text-fill: #6EE0AE;
    -fx-padding: 0 10 0 0;
    -fx-font-weight: bold;
}

.botonPerfil {
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-color: #48AB97;
    -fx-border-radius: 50%;
}

.botonesPrincipales {
    -fx-background-color: transparent;
    -fx-text-fill: #48AB97;
}

.errorLabel {
    -fx-font-size: 13;
    -fx-text-fill: red;
    -fx-padding: 0 10 0 0;
}

.botonAceptarCancelar {
    -fx-background-color: #48AB97;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

